.btn-disable {
	background-color: crimson;
	color: white;
}

.btn-activate {
	background-color: green;
	color: white;
}

.row-admin:nth-child(even){
    background-color: #f2f2f2;;
}

.btn-disable-admin-item {
	background-color: #f14d50;
    color: white;
    width: 80px;
    margin-left: 5px;
}

.btn-activate-admin-item {
	background-color: #4df150;
    width: 80px;
    color: #434040;
    margin-left: 5px;
}

.btn-update-admin-item {
	background-color: #4d50f1;
	color: white;
}
