.main-container {
	position: fixed;
	top: 15%;
	right: 0;
	transition: all 0.3s ease;
	z-index: 10;
}

.cart-hidden {
	margin-right: -600px;
}

.cart-container {
	background-color: rgba(241,77,80, 1.0);
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
/*	border-radius: 5px;*/
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width: 600px;
	padding: 10px 15px;
	color: white;
}

.cart-table {
	width: 100%;
	background-color: rgba(242,242,242, 0.3);
}

.title-text-cart {
	margin-bottom: 5px;
	color: #f2f2f2;
}

.text-notice {
	font-weight: 500;
}

.thead-container {
	background-color: #434040;
}

th {
	padding: 1rem 0;
	font-weight: 600;
}


.tbody-container {
	text-align: center;
}

.items-wrapper {
/*	display: flex;
	align-items: center;
	justify-content: space-between;*/
	text-align: center;
}

.btn-remove-item {
/*	border-radius: 50%;*/
	margin: 0 !important;
	padding: 2px 10px;
	background-color: #acacb1;
	color: white;
}

.total-container {
	text-align: center;
}

.subTotal {
}

.quantity-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.btn-checkout-cart {
	background: #ffb916;
	color: white;
	letter-spacing: 2px;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.3s ease-out;
}

.btn-checkout-cart:hover {
	background: #e59b11;
}

.btn-reduce-quantity-cart,
.btn-add-quantity-cart {
	height: 35px;
	width: 35px;
}

tr:nth-child(even){
    background-color: rgba(242,242,242, .2);
}

/*.total-cart {
	color: white;
}*/