.form-container {
	width: 100%;
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	width: 360px;
	flex-direction: column;
	gap: 15px;
}

.text-login {
	text-align: center;
	letter-spacing: 5px;
	color: #acacb1;
	font-size: 1.7rem;
}

.btn-login {
	padding: 15px;
	font-weight: 600;
	background-color: #f14d50;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
}

.sign-up-link-container {
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 14px;
}

.mini-link {
	color: #f14d50;
	cursor: pointer;
}