.content-wrapper {
	display: flex;
	gap: 4rem;
	margin: 50px 0;
}

.left-container {
	text-align: center;
}

.right-container {
	max-width: 600px;
}

.img {
}

.first-name {
	text-transform: capitalize;
	margin: 5px 0;
	font-weight: 600;
}

.btn-save-profile {
	padding: 15px;
	font-weight: 600;
	background-color: #f14d50;
	border-radius: 5px;
	color: white;
	font-size: 1rem;
}

.btn-save-profile:hover {
	background-color: rgba(241,77,80, .9);
}

.form {
	display: flex;
}

.box-input {
	display: flex;
	flex-direction: column;
}

.box-input input {
	width: 100%;
}

.title-text-profile {
	color: #f14d50;
	margin-bottom: 10px;
	font-size: 2rem;
}

.box-input > label {
	margin-bottom: 3px;
}