.btn-buy-now {
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: 600;
	background: #ffb916;
	color: white;
	transition: all 0.3s ease-out;
}

.btn-buy-now:hover {
	background: #e59b11;
}

.btn-add-to-cart {
	margin-left: 1rem;
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: 600;
	color: white;
	background: #f57224;
	color: white;
	transition: all 0.3s ease-out;
}

.btn-add-to-cart:hover {
	background: #d0611e;
}

.item-container {
	max-width: 600px;
	display: flex;
	margin: 150px auto;
	gap: 30px;
	flex: 1;
}

.item-img-wrapper {
	width: 300px;
	height: 300px;
	flex: 1;
}

.item-content-wrapper > * {
	margin-bottom: 5px;
	color: #434040;
}

.product-title {
	font-weight: 700;
	font-size: 1.6rem;
	color: #f14d50;
}

.img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.item-content-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.quantity-box {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
}

.btn-reduce-quantity, .btn-add-quantity {
	height: 40px;
	width: 40px;
}

.btns-wrapper {

}

button[disabled] {
  	cursor: not-allowed;
}