.order-container {
	margin-bottom: 1rem;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
	padding: 10px;
}

.order-item-title {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: left;
}

.items-text {
	font-size: 1.1rem;
}

.item-list {
	margin: 5px 0;
}

.item-list li {
	list-style: none;
	margin-left: 10px;
}

.price-text-order {
	color: #f14d50;
}