.card-wrapper {
	cursor: pointer;
	margin: .5rem 0;
}

.card-wrapper:hover {
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.text-container {
	padding: 5px 10px;
	text-align: center;
}

.text-container > * {
	margin: 5px 0;
}

.img-container {
	width: 200px;
	height: 200px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.product-price {
	color: #f14d50;
}

.produc-name {
	font-weight: 700;
	color: #434040;
}