.orders-container-admin {

}

.orders-title-admin {
	text-align: center;
    color: #434040;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.order-item-admin {
	margin-bottom: 1rem;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
	padding: 10px;
}

.order-title-admin {
	color: #f14d50;
	margin-bottom: 5px;
	font-size: 1.5rem;
}

.order-date-admin {
	color: #434040;
	font-size: 1.3rem;
	font-weight: 700;
}

.order-product-admin {
	margin-bottom: 5px;
}

.order-total-admin {
	font-size: 1.1rem;
	font-weight: 600;
}

.order-per-purchase {
	margin-bottom: 10px;
}
