.heading-container {
	text-align: center;
	margin-top: 5rem;
}

.admin-btn-container {
	margin-bottom: 1rem;
}

.btn-add-product {
	background-color: #4df150;
	font-weight: 600;
	color:#434040;
	font-size: .9rem;
	margin-right: 1rem;
	font-family: 'Lato', sans-serif;
}

.btn-show-orders {
	background-color: #4d50f1;
	color: white;
	font-size: .9rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}

.btn-show-products {
	background-color: #434040;
	color: white;
	font-size: .9rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}

.title-admin {
	text-align: center;
    color: #434040;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.admin-wrapper {
	margin: 2rem 0;
}