.nav-container {
	background-color: #f14d50;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
	color: white;
}

.navbar-wrapper {
	display: flex;
	height: 60px;
	align-items: center;
}

.logo {
	color: white;
	margin-right: 2rem;
	font-size: 1.5rem;
	font-weight: 600;
}

.sub-links {
	margin-left: auto;
}

.sub-links > *,
.main-links > * {
	margin-left: 1rem;
	color: white;
	font-size: 1rem;
	font-weight: 500;
}

.btn-profile {
	display: inline-block;
	cursor: pointer;
}

.profile-dropdown {
	position: relative;
	cursor: pointer;
	transition: all .3s ease;
}

.dropdown-container {
	background-color: white;
	color: #434040;
	padding: 10px;
	width: 200px;
	position: absolute;
	margin-top: 20px;
	left: -100;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.btn-logout, .btn-details {
	display: flex;
	align-items: center;
	gap: 15px;
	font-family: 'Montserrat', sans-serif;
	padding: 10px;
	cursor: pointer;
}

.btn-logout:hover,
.btn-details:hover {
	background-color: rgba(241,77,80, .2);
}

.btn-cart {
	cursor: pointer;
	display: inline-block;
}