.table-products-admin {
	background-color: rgba(242,242,242, .3);
    width: 100%;
    text-align: center;
}

.row-admin:nth-child(even){
    background-color: #f2f2f2;;
}

.header-row-admin > th {
    background-color: #f14d50;
    color: white;
    font-weight: 600;
}