.add-container {
	margin: 2rem 0;
	
}

.add-form {
	max-width: 700px;
	margin: 0 auto;
}

.title-add-product {
	text-align: center;
    color: #434040;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.add-container .box-input {
	margin-bottom: 15px;
}

.add-product-btn-contnainer {
	display: flex;

}

.btn-add-product {
	width: 100%;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	font-size: .9rem;
}

.btn-add-product-cancel {
	width: 100%;
	background-color: #f14d50;
	color: white;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	font-size: .9rem;
}

.btn-add-product-cancel-container {
	width: 100%;
}