.product-lists, .featured-products {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.products-container {
	text-align: center;
	margin: 2rem 0;
}

.featured-container {
	margin-bottom: 1rem;
}

.title-container {
	font-size: 1.5rem;
	color: #434040;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: .5rem 0;
}

.fa-fire {
	font-size: 2.5rem;
	color: #f14d50;
}