* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  height: initial;
  color: black;
}

.primary-font {
  font-family: 'Montserrat', sans-serif;
}

.secondary-font {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}

.btn-cancel {
  background-color: crimson;
  color: white;
}

input {
  padding: 15px;
  outline: none;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 1rem;
}

table, th, td {
/*  border: 1px solid white;*/
  border-collapse: collapse;
  padding: 10px 0;
}