.row-users:nth-child(even){
    background-color: #f2f2f2;;
}

.users-wrapper {
    margin: 2rem 0;
}

.title-users {
    text-align: center;
    color: #434040;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.header-row-users > th {
    background-color: #f14d50;
    color: white;
    font-weight: 600;
}

.table-users {
    background-color: rgba(242,242,242, .3);
    width: 100%;
    text-align: center;
}

.btn-disable-users {
    background-color: #f14d50;
    color: white;
    width: 80px;
}

.btn-activate-users {
    background-color: #4df150;
    width: 80px;
    color: #434040;
}